
.imagen_deslizable{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    opacity: 0.9;
}
.carousel_titulo{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 160px;
    color: black;
    border: 1px dashed black;
    background-color: #11f1a6;;
}
.carousel_texto{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 130px;
    color: black;
    border: 1px dashed black;
    background-color: #11f1a6;;
}