
.card_container{
    width: 400px;
    height: 450px;
    box-shadow: 4px 6px;
    background-color: #11f1a6;
    margin-bottom: 20px;
    border:  solid black;
    .image_card{
        width: 180px;
        height: 160px;
        margin: auto;
        margin-top: 5px;
        border:  solid black;
        transition: transform .4s;   
    }
    .image_card:hover {
        transform: scale(1.25); 
    }
    .text{
        font-size: 10px;
    }
    .card_body{
        background-color:whitesmoke;
        box-shadow: inset 0 0 0 20px #11f1a6;  
        
    }
    .ver_mas{
        background-color: #11f1a6;
        font-size: 15px;
        color: black;
        font-weight: 500;
        transition: transform .4s; 
    
    }
    .ver_mas:hover {
        transform: scale(1.25); 

    }
}


